*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: auto;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #112B3C;

  height: 100vh;
}

.txtInput{
  width: 70%;
  padding: 10px;
  color: #112B3C;
  border:none;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
}

.containerBtt{
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btt{
  width: 200px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin:0px 5px;
  cursor: pointer;
}

.btt:active{
  outline: solid 1px #fff;
}

.containerBtt{
  margin-top: 15px;
}

.btt-1{
  background-color: #b94e06;
}

.btt-1:hover{
  background-color: #F66B0E;
}

.btt-2{
  background-color: #205375;
}

.btt-2:hover{
  background-color: #22628d;
}

h1.sorte{
  text-align: center;
  padding: 15px;
}